@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.cdnfonts.com/css/aerial-3');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: GilroyRegular;
    src: url(./assets/fonts/Gilroy-Regular.ttf);
  }
  @font-face {
    font-family: GilroyBold;
    src: url(./assets/fonts/Gilroy-Bold.ttf);
  }
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #1A1A1A;

}
html{
  scroll-behavior: smooth;
}